@import "../../../Scss/Main.scss";
.master-banner {
  font-family: var(--font-fam1);
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-top: 70px;
  .master-banner-img {
    height: 400px;
    width: 100%;
    object-fit: cover;
  }
  button {
    position: absolute;
    top: 80%;
    left: 15%;
    border: none;
    padding: 8px 26px;
    color: var(--white-color);
    font-weight: 500;
    border-radius: 4px;
    // z-index: 9999;
    background-color: var(--primary-color);
    &:hover {
      background-color: var(--secondary-color);
      color: var(--primary-color);
      opacity: 100%;
      font-weight: bold;
    }
  }
  .mountain-img {
    position: absolute;
    top: 35%;
    left: 60%;
  }
  .sun-img {
    position: absolute;
    top: 30%;
    left: 70%;
  }
  .bird-img {
    position: absolute;
    top: 60%;
    left: 90%;
  }
  .master-banner-content {
    position: absolute;
    left: 12%;
    padding: 36px;
    top: 15%;
    text-align: justify !important;
    .saroj-info {
      h4 {
        font-style: italic;
        opacity: 80%;
        .banner-span {
          color: var(--primary-color);
          font-size: 30px;
          font-weight: bold;
        }
      }
      h5 {
        font-style: italic;
        opacity: 80%;
        .banner-span {
          color: var(--primary-color);
          font-size: 30px;
          font-weight: bold;
        }
      }
    }
  }
}
