@import '../abstracts/variables';

.card__skill {
  text-align: center;
  margin: 36px 36px 0px;
  border: 1px solid var(--off-color);
  padding: 26px 0px;
  border-radius: 8px;
  background-color: var(--primary-color);
  cursor: pointer;
  &:hover .card-skill img {
    transform: rotate(360deg);
    transition: all 0.8s ease-in-out 0s;
  }
  img {
    height: 120px;
    width: 80%;
    object-fit: contain;
    border-radius: 8px !important;
    transition: 0.5s ease;
  }
  p {
    color: var(--secondary-color);
    margin-top: 16px;
    font-weight: bold;
  }
}
