@import "../../../Scss/Main.scss";
.main {
  font-family: var(--font-fam1);
  padding: 64px 0;
  .service-main {
    .main-title {
      text-align: center;
      margin-bottom: 64px;
      color: var(--primary-color);
      h3 {
        font-size: 36px;
      }
    }
    .service-card {
      .service-content {
        padding: 40px 0 36px;
        text-align: left;
        .main-sec-title {
          text-align: left;
          margin-bottom: 12px;
          color: var(--off-color);
          h4 {
            .span-span {
              margin-right: 6px;
              color: var(--primary-color);
            }
          }
        }
        p {
          font-size: 16px;
          opacity: 80%;
          letter-spacing: 1px;
          margin-bottom: 16px;
        }
        .button-main {
          border: none;
          padding: 8px 26px;
          color: var(--white-color);
          font-weight: 500;
          border-radius: 4px;
          background-color: var(--primary-color);
          &:hover {
            background-color: var(--black-color);
          }
        }
      }
      .service-content-1 {
        padding: 40px 0 36px;
        text-align: right;
        p {
          font-size: 16px;
          letter-spacing: 1px;
          opacity: 80%;
          margin-bottom: 16px;
        }
        .main-sec-title-2 {
          text-align: right;
          margin-bottom: 12px;
          color: var(--off-color);
        }
        .button-main {
            border: none;
            padding: 8px 26px;
            color: var(--white-color);
            font-weight: 500;
            border-radius: 4px;
            background-color: var(--primary-color);
            &:hover {
              background-color: var(--black-color);
            }
          }
      }
      .service-image {
        text-align: center;
        img {
          height: 300px;
          width: 300px;
          object-fit: cover;
          border-radius: 12px;
        }
      }
    }
  }
}
