@import "../abstracts/variables";

.main-1 {
  background-color: $offwhite-color;
  .welcome__div {
    font-family: $font-fam1;
    padding: 64px 0px;
    letter-spacing: 1px;
    text-align: center;
    line-height: 1.8;
    .saroj__welcome__info {
    }
    .welcome__span {
      font-size: 22px;
    }
  }
}
