@import "../abstracts/variables";
.main {
  font-family: var(--font-fam1);
  padding: 64px 0;
  .main-title {
    text-align: center;
    margin-bottom: 64px;
    color: var(--primary-color);
    h3 {
      font-size: 36px;
    }
  }
  .myproject-content {
    text-align: center !important;
    .project-slider {
      text-align: center !important;
      a {
        .project-img {
          height: 400px;
          width: 100%;
          object-fit: contain;
        }
      }
    }
    .project-title {
      font-weight: 500;
      color: var(--off-color);
      font-size: 20px;
      span {
        color: var(--primary-color);
        margin: 0px 12px;
        font-size: 12px;
      }
    }
    .slider-arrow {
      ul {
        li {
          display: inline-block;
          .slider-p {
            color: var(--secondary-color);
            background-color: var(--primary-color);
            margin: 12px 26px 0px;
            font-size: 14px !important;
            padding: 4px 16px;
            cursor: pointer;
            border-radius: 4px;
            .slider-span1 {
              margin-right: 8px;
            }
            .slider-span-2 {
              margin-left: 8px;
            }
          }
        }
      }
    }
  }
}
.slick-slide img {
  display: initial !important;
}
.slick-prev:before {
  display: none !important;
}
.slick-next:before {
  display: none !important;
}
