@import "../abstracts/variables";
.main {
  font-family: $font-fam1;
  padding: 64px 0;
  .main__title {
    text-align: center;
    margin-bottom: 64px;
    color: $primary-color;
    h3 {
      font-size: 36px;
    }
  }
  .my__project__content {
    text-align: center !important;
    .project__slider {
      text-align: center !important;
      a {
        .project__img {
          height: 400px;
          width: 100%;
          object-fit: contain;
        }
      }
    }
    .project__title {
      font-weight: 500;
      color: $off-color;
      font-size: 20px;
      span {
        color: $primary-color;
        margin: 0px 12px;
        font-size: 12px;
      }
    }
    .slider__arrow {
      ul {
        li {
          display: inline-block;
          .slider__p {
            color: $secondary-color;
            background-color: $primary-color;
            margin: 12px 26px 0px;
            font-size: 14px !important;
            padding: 4px 16px;
            cursor: pointer;
            border-radius: 4px;
            .slider__span1 {
              margin-right: 8px;
            }
            .slider-span__2 {
              margin-left: 8px;
            }
          }
        }
      }
    }
  }
}
.slick-slide img {
  display: initial !important;
}
.slick-prev:before {
  display: none !important;
}
.slick-next:before {
  display: none !important;
}
