@import "../abstracts/variables";
.main {
  font-family: $font-fam1;
  padding: 64px 0;
  .service__main {
    .main__title {
      text-align: center;
      margin-bottom: 64px;
      color: $primary-color;
      h3 {
        font-size: 36px;
      }
    }
    .service__card {
      .service__content {
        padding: 40px 0 36px;
        text-align: left;
        .main__sec__title {
          text-align: left;
          margin-bottom: 12px;
          color: $off-color;
          h4 {
            .span__span {
              margin-right: 6px;
              color: $primary-color;
            }
          }
        }
        p {
          font-size: 16px;
          opacity: 80%;
          letter-spacing: 1px;
          margin-bottom: 16px;
        }
        .button__main {
          border: none;
          padding: 8px 26px;
          color: $white-color;
          font-weight: 500;
          border-radius: 4px;
          background-color: $primary-color;
          &:hover {
            background-color: $black-color;
          }
        }
      }
      .service__content__1 {
        padding: 40px 0 36px;
        text-align: right;
        p {
          font-size: 16px;
          letter-spacing: 1px;
          opacity: 80%;
          margin-bottom: 16px;
        }
        .main__sec__title__2 {
          text-align: right;
          margin-bottom: 12px;
          color: $off-color;
        }
        .button__main {
          border: none;
          padding: 8px 26px;
          color: $white-color;
          font-weight: 500;
          border-radius: 4px;
          background-color: $primary-color;
          &:hover {
            background-color: $black-color;
          }
        }
      }
      .service__image {
        text-align: center;
        img {
          height: 300px;
          width: 300px;
          object-fit: cover;
          border-radius: 12px;
        }
      }
    }
  }
}
