$white-color: #fff;
$primary-color: #0199ae;
$secondary-color: #fef9f8;
$black-color: #0d0d0d;
$off-color: #919191;
$genuine-color: #fcf3ec;
$offwhite-color: #f2f2f3;
$font-fam1: "Alata", sans-serif;
