:root {
  --white-color: #fff;
  --primary-color: #0199ae;
  --secondary-color: #fef9f8;
  --black-color: #0d0d0d;
  --off-color: #919191;
  --genuine-color: #fcf3ec;
  --offwhite-color: #f2f2f3;
  --font-fam1: "Alata", sans-serif;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style-type: none;
}
a {
  color: var(--tertiary-color) !important;
}
p {
  margin: 0px;
}
.container-fluid {
  padding: 0px;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .main {
    padding: 30px 0px !important;
  }
  .saroj-welcome-info{
    text-align: center !important;
  }
  .my-service-img img{
    height: 200px !important;
    margin-top: 20px !important;
  }
  .main-sec-title {
    margin-bottom: 2px !important;
  }
  .service-image img {
    height: 200px !important ;
    width: 200px !important;
    object-fit: contain !important;
    border-radius: 12px;
  }
  .service-content {
    padding: 0px 20px !important;
    text-align: justify !important;
  }
  .service-content-1 {
    padding: 0px 20px !important;
    text-align: justify !important;
  }
  .service-card {
    margin-bottom: 40px !important;
  }
  .inspiration-title {
    font-size: 20px !important;
    font-weight: bold !important;
  }
  .master-banner-content {
    left:50% !important;
    top: 40% !important;
  }
  .master-banner-img {
    height: 100vh !important;
    padding-top: 85vh !important;
  }
  .banner-span{
    font-size: 20px !important;
  }
  .bird-img {
    position: absolute;
    top: 85% !important;
    left: 82% !important;
    height: 40px !important;
  }
  .mountain-img {
    position: absolute;
    top: 85% !important;
    left: 40% !important;
    height: 150px !important;
  }
  .sun-img {
    position: absolute;
    top: 75% !important;
    left: 75% !important;
    height: 50px !important;
  }
  .master-banner button {
    left: 28% !important;
    top: 60% !important;
    font-size: 12px !important;
    padding: 4px 12px !important;
  }
  .about-me-description {
    padding: 36px 0 !important;
  }
  .project-img {
    width: 90% !important;
    height: 150px !important;
  }
  .footer-ul {
    padding: 0px !important;
    text-align: center !important;
  }
  .footer {
    margin: 6px 0px 6px !important;
  }
  .footer-main {
    height: 600px !important;
  }
  .footer-ul li > p > span {
    font-size: 16px !important;
  }
  .footer-content{
    margin-bottom: 12px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px){

}
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .footer-main {
    height: 600px !important;
  }
  .footer {
    margin: 6px 0px 6px !important;
  }
  .main {
    padding: 30px 0px !important;
  }
  .main-sec-title {
    margin-bottom: 2px !important;
  }
  .service-image img {
    height: 300px !important ;
    width: 300px !important;
    object-fit: contain !important;
    border-radius: 12px;
  }
  .service-content {
    padding: 0px 20px !important;
    text-align: justify !important;
  }
  .service-content-1 {
    padding: 0px 20px !important;
    text-align: justify !important;
  }
  .service-card {
    margin-bottom: 40px !important;
  }
  .inspiration-title {
    font-size: 28px !important;
    font-weight: bold !important;
  }
  .master-banner-content {
    position: absolute !important;
    left: 50% !important;
    padding: 36px !important;
    top: 50% !important;
    text-align: justify !important;
  }
  .master-banner-content p {
    background-color: var(--off-color);
    color: var(--white-color);
    opacity: 60%;
    padding: 6px;
  }
  .master-banner-img {
    height: 100vh !important;
    padding-top: 85vh !important;
  }
  .bird-img {
    position: absolute;
    top: 85% !important;
    left: 82% !important;
    height: 40px !important;
  }
  .mountain-img {
    position: absolute;
    top: 85% !important;
    left: 40% !important;
    height: 150px !important;
  }
  .sun-img {
    position: absolute;
    top: 75% !important;
    left: 75% !important;
    height: 50px !important;
  }
  .master-banner button {
    left: 28% !important;
    top: 60% !important;
    font-size: 12px !important;
    padding: 4px 12px !important;
  }
  .about-me-description {
    padding: 0 36px !important;
  }
  .project-img {
    width: 90% !important;
  }
  .footer-ul {
    padding: 0px !important;
  }
  .footer-ul li > p > span {
    font-size: 14px !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .master-banner-content {
    position: absolute !important;
    left: 50% !important;
    padding: 36px !important;
    top: 50% !important;
    text-align: justify !important;
  }
  // .master-banner-content p {
  //   background-color: var(--off-color);
  //   color: var(--white-color);
  //   opacity: 60%;
  //   padding: 6px;
  // }
  .master-banner-img {
    height: 100vh !important;
    padding-top: 85vh !important;
    width: 100% !important;
    object-fit: cover !important;
  }
  .bird-img {
    position: absolute;
    top: 85% !important;
    left: 82% !important;
    height: 81px !important;
  }
  .mountain-img {
    position: absolute;
    top: 85% !important;
    left: 50% !important;
    height: 200px !important;
  }
  .sun-img {
    position: absolute;
    top: 65% !important;
    left: 75% !important;
    height: 150px !important;
  }
  .master-banner button {
    left: 35% !important;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
}
